# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Gatsby_portfolio\gatsby-project\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
